/*****************************
* Components - Form
*****************************/
.default-form-box{
    margin-bottom: 20px;
    label {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 10px;
        display: block;
        span {
            color: $body-color;
            font-size: 16px;
        }
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    textarea{
        border: 1px solid $border-color;
        border-radius: 3px;
        background: none;
        height: 40px;
        width: 100%;
        padding: 0 20px;
        color: $body-color;
        &::placeholder{font-size: 14px;}
        outline: none;
        &:focus{
            border-color: $color-golden;
        }
    }
    textarea{
        height: 200px;
        padding: 20px;
    }
}

.default-search-style{
    position: relative;
}

.default-search-style-input-box{
    height: 50px;
    padding-left: 20px;
    padding-right: 80px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: none;
    outline:none;
    border: 1px solid $border-color;
   
}

.default-search-style-input-btn{
    font-weight: 600;
    color: #777;
    transition: all 0.5s ease;
    line-height: 1.6;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 100%;
    padding: 0 25px;
    font-size: 18px;

    &:hover{color: $color-golden;}
}

.mobile-search-style-input-box{
    padding: 7px 12px;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    box-shadow: none;
    outline:none;
}

.mobile-search-style-input-btn{
    padding: 7px 12px;
    background-color: $headings-color;
    border-radius: 0 5px 5px 0;
    font-weight: 600;
    transition: $transition-base;
    &:hover{
        background: $body-color;
    }
    i{   
        color: $white;
        font-size: 18px;
    }
}

.checkbox-default{
    line-height: 1;
    & > span{
        display: inline-block;
        transform: translateX(35px);
        text-transform: capitalize;
        color: $body-color !important;
        font-size: 14px;
        cursor: pointer;
    }

    input {
        appearance: none;
        position: relative;
        line-height: 0;
        &::after {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            border: 1px solid $gray-300;
            line-height: 20px;
            text-align: center;
        }
        &:checked::after {
            position: absolute;
            content: "\f383";
            background: $color-golden;
            border-color: $color-golden;
            font-family: "Ionicons";
            color: $white;
        }
        span{font-size: 14px;}
    }
}

.subscribe-form{
    padding: 10px 150px 11px 20px;
    box-shadow: none;
    outline:none;
}