/***********************
* Components - Hero 
************************/
.hero-slider-active {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-single-slider-item {
    position: relative;
    &.swiper-slide-active {
        .hero-slider-content {
            .subtitle {
                animation: fadeInUp 1s ease .3s 1 backwards;
            }
            .title {
                animation: fadeInUp 1s ease 1s 1 backwards;
            }
            a {
                animation: fadeInUp 1s ease 1.5s 1 backwards;
            }
        }
    }
}

.hero-slider-bg {
    img {
        width: 100%;
        height: 395px;
        object-fit: cover;
        @include breakpoint(small) {
            height: 460px;
        }
        @include breakpoint(medium) {
            height: 580px;
        }
        @include breakpoint(large) {
            height: 670px;
        }
        @include breakpoint(xlarge) {
            height: 600px;
        }
        @include breakpoint(xxlarge) {
            height: 890px;
        }
    }
}

.hero-slider-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // width: 60%;
    // @include breakpoint(small) {
    //     width: 55%;
    // }
    // @include breakpoint(medium) {
    //     width: 43%;
    // }
    // @include breakpoint(large) {
    //     width: 48%;
    // }
    // @include breakpoint(xlarge) {
    //     width: 27%;
    // }
    // @include breakpoint(xxlarge) {
    //     width: 27%;
    // }
    .subtitle {
        font-size: 12px;
        text-transform: uppercase;
        @include breakpoint(small) {
            font-size: 12px;
        }
        @include breakpoint(medium) {
            font-size: 16px;
        }
        @include breakpoint(large) {
            font-size: 19px;
        }
        @include breakpoint(xlarge) {
            font-size: 13px;
        }
        @include breakpoint(xxlarge) {
            font-size: 20px;
        }
    }
    .title {
        font-size: 26px;
        font-weight: 600;
        line-height: 1;
        text-transform: capitalize;
        @include breakpoint(small) {
            font-size: 37px;
        }
        @include breakpoint(medium) {
            font-size: 42px;
        }
        @include breakpoint(large) {
            font-size: 56px;
        }
        @include breakpoint(xlarge) {
            font-size: 40px;
        }
        @include breakpoint(xxlarge) {
            font-size: 63px;
        }
    }
    .btn {
        outline: none;
        margin-top: 25px;
        @include breakpoint(small) {
            margin-top: 25px;
        }
        @include breakpoint(medium) {
            margin-top: 40px;
        }
        @include breakpoint(large) {
            margin-top: 40px;
        }
        @include breakpoint(xlarge) {
            margin-top: 25px;
        }
        @include breakpoint(xxlarge) {
            margin-top: 40px;
        }
    }
}