/***********************
* Components - Instagram
************************/
.instagram-box{
    position: relative;
}

.instagram-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    a{
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: $color-matt-black;
        background: $white;
        border-radius: 5px;
        height: 50px;
        line-height: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.instagram-image-link{
    width: 100%;
    overflow: hidden;
    img{
        width: 100%;
    }
    @include breakpoint(small){
        width: 50%;
    }
    @include breakpoint(medium){
        width: 16.66%;
    }
}