/***********************
* Components - Service Promo
************************/

.service-wrapper{
    margin-bottom: -33px;
}
.service-promo-single-item{
    margin-bottom: 33px;
    text-align: center;
    .image{
        width: 77px;
        overflow: hidden;
        margin: 0 auto;
        img{
            width: 100%;
            height: auto;
            margin-bottom: 27px;
        }
    }
   
    .content{
        .title{
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }
    
}