/*******************************
* Components - Slider Cutomize
********************************/

/*Swiper Sider Important CSS*/
.swiper-container {
    width: 100%;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
}


/*Hero slider Customize CSS */

.hero-slider-active {
    .swiper-pagination {
        position: absolute;
        bottom: 30px !important;
        span {
            width: 15px;
            height: 15px;
            background: $white;
            outline: none;
            opacity: 1;
        }
        &.active-color-golden span.swiper-pagination-bullet-active {
            background: $color-golden;
        }
        &.active-color-green span.swiper-pagination-bullet-active {
            background: $color-green;
        }
        &.active-color-aqua span.swiper-pagination-bullet-active {
            background: $color-aqua;
        }
        &.active-color-pink span.swiper-pagination-bullet-active {
            background: $color-pink;
        }
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        line-height: 54px;
        text-align: center;
        background: rgba(242, 232, 231, 0.5);
        margin-left: 10px;
        margin-right: 10px;
        &::after {
            font-size: 16px;
            color: $color-matt-black;
        }
    }
}


/*Default slider Customize CSS */

.default-slider-nav-arrow {
    position: relative;
    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
        line-height: 55px;
        text-align: center;
        border-radius: 50%;
        color: $color-matt-black;
        background: #fafafa;
        transition: $transition-base;
        border: 2px solid transparent;
        outline: none;
        &:hover {
            border-color: $color-matt-black;
        }
        &::after {
            line-height: 1;
            font-size: 24px;
            font-family: "Ionicons";
        }
    }
    .swiper-button-prev {
        left: 30;
        @include breakpoint(large) {
            left: -25px;
        }
        @include breakpoint(xlarge) {
            left: -50px;
        }
        @include breakpoint(xxlarge) {
            left: -95px;
        }
        &::after {
            content: "\f3d5";
        }
    }
    .swiper-button-next {
        right: 30;
        @include breakpoint(large) {
            right: -25px;
        }
        @include breakpoint(xlarge) {
            right: -50px;
        }
        @include breakpoint(xxlarge) {
            right: -95px;
        }
        &::after {
            content: "\f3d6";
        }
    }
}


/*Gallery slider Customize CSS */

.gallery-thumb-arrow {
    &.swiper-button-prev {
        left: 0;
    }
    &.swiper-button-next {
        right: 0;
    }
    &.swiper-button-prev::after,
    &.swiper-button-next::after {
        font-size: 16px;
        color: $color-matt-black;
    }
}


/*Sticky slider Customize CSS*/

.product-image-sticky-single {
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
    img {
        max-width: 100%;
        border: 1px solid $border-color;
    }
}

.product-details-content-area-sticky {
    position: sticky;
    top: 0;
}


/*Blog Slider*/
.blog-list-slider-arrow {
    .swiper-button-prev,
    .swiper-button-next{
        background: $white;
    }
    & .swiper-button-prev {
        left: 0;
    }
    & .swiper-button-next {
        right: 0;
    }
    & .swiper-button-prev::after,
    & .swiper-button-next::after {
        font-size: 16px;
        color: $color-matt-black;
       
        
    }
}