/***********************
* Components - Tab Style
************************/
.tab-content .tab-pane {
    display: block;
    height: 0;
    max-width: 100%;
    visibility: hidden;
    overflow: hidden;
	opacity: 0;
}

.tab-content .tab-pane.active {
    height: auto;
    visibility: visible;
    opacity: 1;
	overflow: visible;
}


/*Default Tab List Styele*/
.tablist-default{
    li{
        margin-right: 35px;
        &:last-child{margin-right: 0;}
    }
    .nav-link{
        padding: 0;
        font-size: 24px;
        font-weight: 700;
        transition: $transition-base;
        color: $body-color;

        &.active, &:hover{color: $color-matt-black;}
        
    }

}

/*Sort Styele Tab*/
.sort-tab-btn{
    .nav-link{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        line-height: 30px;
        &.active{
            background-color: $color-golden;
            & > img{filter: invert(100%);}
        }
    }
}

/*Product Details Tab*/
.product-details-content-tab-btn{
    text-transform: uppercase;
    li{
        margin: 0 15px;
        &:last-child{margin-right: 0;}
    }
    margin-top: -15px;
    .nav-link{
        padding: 0;
        padding-bottom: 15px;
        margin-top: 15px;
        font-size: 18px;
        font-weight: 700;
        transition: $transition-base;
        color: $body-color;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            width: 0;
            height: 3px;
            left: auto;
            right: 0;
            bottom: 0;
            background: $color-golden;
            transition: $transition-base;
        }
        &.active, &:hover{
            color: $color-matt-black;
            &::after{
                width: 100%;
                left: 0;
                background: $color-golden;
            }
        }

        
    } 
}
