.tag-link {
    margin-bottom: -10px;
    a {
        display: inline-block;
        padding: 7px 15px;
        border: 1px solid #ebebeb;
        margin-bottom: 10px;
        margin-left: 5px;
        border-radius: 30px;
        font-weight: 600;
        &:hover{
            background: $color-golden;
            border-color: $color-golden;
            color: $white;
        }
    }
}