/*****************************
* Pages - Cart
*****************************/
.cart_submit {
    text-align: right;
    padding: 12px;
}


.coupon_code {
    border: 1px solid #ededed;
    margin-top: 60px;

    h3 {
        color: #ffffff;
        line-height: 36px;
        padding: 5px 15px;
        background: #333;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
    }
}

.coupon_inner {
    padding: 10px 20px 25px;

    p {
        font-size: 13px;
        margin-bottom: 20px;
    }

    input {
        border: 1px solid #ededed;
        height: 42px;
        background: none;
        padding: 0 20px;
        margin-right: 20px;
        font-size: 12px;
        color: #333;
        width: 175px;
    }


    a {
        display: block;
        text-align: right;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
        border-bottom: 1px solid #ededed;
        padding-bottom: 10px;
        border-radius: 3px;
    }
}


.cart_subtotal {
    display: flex;
    justify-content: space-between;

    p {
        font-weight: 600;
        font-size: 14px;

        span {
            margin-right: 30px;
        }
    }

    .cart_amount {
        font-size: 18px;
        font-weight: 500;
    }

    .shipping_options_wrapper {
        display: flex;
        gap: 20px;
        align-items: center;

        &:last-of-type {
            margin-top: 10px;
        }
    }

    .shipping_option {
        width: 20px;
        height: 20px;
    }
}

.checkout_btn {
    text-align: right;

    .btn {
        display: inline-block;
        font-weight: 700;
    }
}