/*****************************
* Pages - FAQ
*****************************/
.faq-content{
    .title{
        margin-bottom: 16px;
        font-weight: 700;
    }
}
.faq-accordian {
    width: 100%;
    margin: 40px auto 30px auto;
    text-align: left;
    margin-bottom: -15px;
 }

.faq-accordian-single-item{
    margin-bottom: 15px;
}

 .faq-accordian label {
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    background: #f2f2f2;
    border: 1px solid $border-color;
    color: #222;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 700;
 }
 
 
 .faq-accordian label:hover { color : $color-golden;}
 .faq-accordian input:checked + label, 
 .faq-accordian input:checked + label:hover {
    background: $color-golden;
    color: $white;
    border: 1px solid $color-golden;
 }
 
 .faq-accordian input { display: none; }
 .faq-accordian .item-content {
    background: #f8f8f8;
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition: height 0.3s ease-in-out;
 }
 .faq-accordian .item-content p {
    padding: 10px 20px;
    color: #666;
    line-height: 1.9;
    
 }
 .faq-accordian input:checked ~ .item-content {
    transition: height 0.5s ease-in-out;
    border-bottom: 1px solid $border-color
 }

 .faq-accordian input:checked ~ .item-content.item-content { height: auto; }