/*****************************
* Pages - Privacy Policy
*****************************/

.privacy-policy-wrapper {
    margin-bottom: -36px;
}
.privacy-single-item {
    margin-bottom: 29px;
    .title{
        margin-bottom: 15px;
        font-weight: 700;
    }
    .sub-title {
        font-size: 22px;
        font-weight: 700;
    }
}

