.header-top{}

.header-top-bg--black{
    background: $color-matt-black;
}
.header-top-bg--white{
    background: $white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-top-contact,
.header-top-user-link{
    a{
        
        line-height: 40px;
        margin-right: 40px;
        position: relative;
        

        &::after{
            position: absolute;
            content: "|";
            left: calc(100% + 20px);
        }

        &:last-child{
            margin-right: 0;
            &::after{display: none;}
        }
    }
}

.header-top-contact-color--white,
.header-top-user-link-color--white{
    a{
        color: $white;
        &::after{color: $white;}
    }
}
.header-top-contact-color--black,
.header-top-user-link-color--black{
    a{
        color: $color-matt-black;
        &::after{color: $color-matt-black;}
    }
}

.header-top-contact-hover-color--green,
.header-top-user-link-hover-color--green{
    a:hover{color: $color-green;}
}

.header-top-contact-hover-color--aqua,
.header-top-user-link-hover-color--aqua{
    a:hover{color: $color-aqua;}
}

