/*Main Menu Style*/
.sticky-header.sticky {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: #333;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    border-bottom: 0;
}

.main-menu{
    position: relative;
    nav > ul > li{
        position: relative;
        display: inline-block;
    }

    nav > ul > .has-dropdown{
        
        margin-right: 5px;
        &:last-child{margin-right: 0;}
    }
    nav > ul > .has-megaitem{
        position: static;
    }

    nav > ul > li > a{
        display: block;
        line-height: 24px;
        padding: 25px 30px;
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.main-menu-style-4{
    nav > ul > li > a{
        padding: 10px 30px;
    }
}


.sub-menu > li > a,
.mega-menu-sub > li > a {
    font-weight: 500;
    display: block;
    line-height: 35px;
    text-transform: capitalize;
    color: $body-color;
    position: relative;
    transition: $transition-base;

    &:hover{
       
        transform: translateX(10px);
    }

}

.sub-menu{
    position: absolute;
    min-width: 230px;
    padding: 25px 20px;
    background: $white;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 99;
    top: 100%;
    text-align: left;
}

.mega-menu{
    position: absolute;
    min-width: 100%;
    padding: 25px 30px 30px 30px;
    background: $white;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 99;
    top: 100%;
    text-align: left;
}

.mega-menu-inner{
    display: flex;
    justify-content: space-between;
}

.mega-menu-item-title{
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-bottom: 13px;
    color: $headings-color;
    &:hover{
        // color: $themeColor;
    }
}

.mega-menu-sub > li{
    display: block;
}

.main-menu nav > ul > li:hover .sub-menu,
.main-menu nav > ul > li:hover .mega-menu {
    opacity: 1;
    visibility: visible;
    transform: perspective(600px) rotateX(0deg);
}

.menu-banner{
    margin-top: 20px;

    & > a{
        display: block;
        width: 100%;
    }

    & img{
        width: 100%;
    }
}

/*Main Menu Link Normal Color*/
.menu-color{

    &--black{
        nav > ul > li > a{
            color: $color-matt-black;
        }

        .sub-menu > li > a,
        .mega-menu-sub > li > a{
            color: $color-matt-black;
        }

        .mega-menu-item-title{
            color: $color-matt-black;
        }

        
    }


    &--white{
        nav > ul > li > a{
            color: $white;
        }

        .sub-menu > li > a,
        .mega-menu-sub > li > a{
            color: $color-matt-black;
        }

        .mega-menu-item-title{
            color: $color-matt-black;
        }

        
    }

    
}


/*Main Menu Link Hover Color*/
.menu-hover-color{
    &--golden{
        nav > ul > li > a:hover{
            color: $color-golden;
        }

        .sub-menu > li > a:hover,
        .mega-menu-sub > li > a:hover{
            color: $color-golden;
        }

        .mega-menu-item-title:hover{
            color: $color-golden;
        }
    }

    &--green{
        nav > ul > li > a:hover{
            color: $color-green;
        }

        .sub-menu > li > a:hover,
        .mega-menu-sub > li > a:hover{
            color: $color-green;
        }

        .mega-menu-item-title:hover{
            color: $color-green;
        }
    }


    &--pink{
        nav > ul > li > a:hover{
            color: $color-pink;
        }

        .sub-menu > li > a:hover,
        .mega-menu-sub > li > a:hover{
            color: $color-pink;
        }

        .mega-menu-item-title:hover{
            color: $color-pink;
        }
    }

    &--aqua{
        nav > ul > li > a:hover{
            color: $color-aqua;
        }

        .sub-menu > li > a:hover,
        .mega-menu-sub > li > a:hover{
            color: $color-aqua;
        }

        .mega-menu-item-title:hover{
            color: $color-aqua;
        }
    }

    
} 