.offcanvas-mobile-menu-section,
.offcanvas-mobile-about-section{
    background: $color-matt-black !important;
    .offcanvas-close{
      color: $white;
    }
}

/*Mobile Menu Bottom Area*/
.offcanvas-menu {
    margin: 20px 0;
}

.offcanvas-menu li {
    position: relative;
    padding: 7px 5px;
  }
  .offcanvas-menu > ul > li {
    border-bottom: 1px solid transparent;
  }
  .offcanvas-menu > ul > li:last-child {
    border-bottom: none;
  }
  .offcanvas-menu li a {
    display: block;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
  }
  .offcanvas-menu li a:hover {
    color: $color-golden;
  }
  .offcanvas-menu li .mobile-sub-menu {
    display: none;
  }

.offcanvas-menu-expand::after {
    content: "\e606";
    position: absolute;
    font-family: 'simple-line-icons';
    right: 0;
    transition: all 0.3s ease;
    color: $white;
  }
  .offcanvas-menu .active > .offcanvas-menu-expand:last-child, 
  .sub-menu > .active .offcanvas-menu-expand:last-child {
    border-bottom: none;
  }

  .offcanvas-menu .active > .offcanvas-menu-expand::after, 
  .sub-menu > .active .offcanvas-menu-expand::after {
    color: $color-golden;
    transform: rotate(90deg);
  }


/*Mobile Menu Contact Info*/
.mobile-contact-info{
  text-align: center;
  margin: 0 auto;
  .logo{
    margin: 0 auto;
    width: 100px;
    img{
        width: 100%;
        height: auto;
    }
}

.address{
  margin-top: 30px;
  color: $white;
  span{display: block;}
}
  .social-link{
    li{
        display: inline-block;
        margin-right: 20px;
  
        &:last-child{
            margin-right: 0;
        }
    }
  
    li a{
        display: block;
        text-align: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        background: #2f3239;
        color: $white;
        transition: $transition-base;
        font-size: 16px;
  
        &:hover{
            background: $white;
            color: #2f3239;
        }
    }
  }

  .user-link{
    margin-top: 40px;
    li{
      display: inline-block;
      margin-right: 15px;
      &:last-child{margin-right: 0;}
    }
    li a{
      color: $white;
      &:hover{color:$color-golden}
    }
  }
  
}


