.offcanvas-cart-item-single {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    &:last-child{margin-bottom: 0;}
}

.offcanvas-cart-item-block{
    display: flex;
    align-items: center;
}

.offcanvas-cart-item-image-link {
    width: 90px;
    overflow: hidden;
    border: 1px solid $border-color;
    margin-right: 20px;
}

.offcanvas-cart-image {
    width: 100%;
}

.offcanvas-cart-item-link {
    display: block;
    font-weight: 700;

    &:hover{color: $color-matt-black;}
}

.offcanvas-cart-total-price {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.offcanvas-cart-total-price-text {
    font-weight: 700;
}

.offcanvas-cart-action-button-list {
    margin-bottom: 25px;
    display: block;
}

.offcanvas-cart-item-delete{
    color:red;
    &:hover{color: red;}
}

.offcanvas-cart-action-button-link {
    display: block;
    background: $color-matt-black;
    color: $white;
    padding: 10px 30px;
    text-align: center;
    font-weight: 600;
    border: 1px border transparent;

    &:hover{
        background: $white;
        color: $color-matt-black;
        border: 1px border $color-matt-black !important;
    }
}