
    .modal-add-cart-product-img{
        text-align: center;
    }
    .modal-add-cart-product-title{
        margin-top: 25px;
        @include breakpoint(medium){
            margin-top: 0px;
        }
    }
    .modal-add-cart-product-title,
    .modal-add-cart-product-price{
        display: block;
        font-weight: 500
    }

    .modal-add-cart-info{
        margin-top: 40px;
        @include breakpoint(medium){margin-top: 0;}
    }

    .modal-add-cart-product-info,
    .modal-add-cart-product-shipping-info {
        font-weight: 500;
        li{
            margin-bottom: 10px;
            &:last-child{margin-bottom: 0;}
        }
        span{
            font-weight: 300;
            padding-left: 5px;
        }
    }

    .modal-add-cart-product-cart-buttons{
        display: flex;
        flex-direction: column;
        @include breakpoint(small){ flex-direction: row;}
        a{
            margin-top: 10px;
            margin-bottom: 10px;
            background: $color-golden;
            color: white;
            padding: 5px 10px;
            margin-right: 0px;
            text-align: center;
            &:last-child{margin-right: 0;}
            @include breakpoint(small){
                margin-top: 20px;
                margin-bottom: 15px;
                margin-right: 10px;
                flex-direction: row;
            }
        }

    }


.modal-add-cart-info i {
    color: $color-golden;
    padding-right: 10px;
    font-size: 16px;
}


.modal-continue-button{
    a{
        text-decoration: underline;
        color: $color-golden;

        &:hover{
            text-decoration: none;
        }
    }
}
