/*Banner Style - 6*/
.banner-style-6{
    .image{
        text-align: center !important;
        img{
            width: 100%;
            height: 360px;
            object-fit: cover;
        }
        @include breakpoint(small){
            text-align: right !important;
            img{
                width: 100%;
                height: 360px;
            }
        }
        @include breakpoint(large){
            text-align: right !important;
            img{
                width: 100%;
                height: 400px;
            }
        }
        @include breakpoint(xlarge){
            text-align: right !important;
            img{
                width: 80%;
                height: auto;
            }
        }
        
    }
    .content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 80%;
        left: 5%;

        @include breakpoint(large){
            width: 50%;
            left: 5%;
        }
        @include breakpoint(xlarge){
            width: 40%;
            left: 5%;
        }
        .sub-title{
            font-weight: 700;
            margin-bottom: 20px;
            @include breakpoint(large){
                margin-bottom: 40px;
            }
            
        }
        .title{
            font-size: 30px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 20px;

            @include breakpoint(large){
                font-size: 40px;
                margin-bottom: 35px;
            }
            @include breakpoint(xlarge){font-size: 50px;}
        }

        p{
            margin-bottom: 20px;
            @include breakpoint(large){
                margin-bottom: 40px;
            }
            
        }
    }
}