/*Banner Style - 3*/
.banner-style-3{
    .content{
        top: 0%;
        right: 20px;
        width: 55%;
        text-align: right;
        transform: translateY(30px);
        @include breakpoint(small){
            transform: translateY(70px);
        }
        @include breakpoint(large){
            text-align: left;
        }
        @include breakpoint(xxlarge){
            transform: translateY(120px);
        }
        .title{
            font-size: 20px;
            margin-bottom: 11px;
            line-height: 1.1;
            @include breakpoint(small){
                font-size: 24px;
            }
            @include breakpoint(large){
                font-size: 48px;
            }
            @include breakpoint(xxlarge){
                font-size: 48px;
            }
        }

        .sub-title{
            font-size: 10px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: $body-color;
            margin-bottom: 10px;
            @include breakpoint(small){
                font-size: 14px;
                margin-bottom: 30px;
            }
            @include breakpoint(xxlarge){
                font-size: 16px;
                margin-bottom: 35px;
            }
        }
    }
}