.banner-style-13{

    .image{
        width: 100%;
        overflow: hidden;
        position: relative;
        img{
            width: 100%;
            height: 380px;
            object-fit: cover;
            object-position: center;
        }
    }
    .content{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
        padding: 0 15px;
        margin-right: auto;
        margin-left: auto;

        @include breakpoint(small){
            width: max-content;
            padding: 0 15px;
        }
    }

    .text{
        padding: 30px 15px;
        background: rgba($white, .75);
        @include breakpoint(small){ 
            padding: 50px 30px;
        }
        @include breakpoint(large){ 
            padding: 53px 113px;
        }
    }

    .sub-title{
        
        font-size: 16px;
        line-height: 1.2;
        color: #595858;
        margin-bottom: 18px;
        text-transform: uppercase;
        font-weight: 600;

        @include breakpoint(medium){
            font-size: 18px;
            line-height: 1;

        }
    }

    .title{
        font-size: 28px;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: 600;
        

        @include breakpoint(small){
            font-size: 32px;
        }
        @include breakpoint(medium){
            font-size: 40px;
            line-height: 1;
        }
    }

    .btn{
        margin-top: 20px;
    }
}