#quantity_discount_price {
    text-decoration: none!important;
}

.compare_price {
    font-size: 18px;
    text-decoration: line-through;
}

.text-del {
    font-size: 18px;
    text-decoration: line-through;
}

.text-del .discount-value {
    display: none;
}

.selling_price,
#quantity_discount_price {
    line-height: 1;
}

.discount-value {
    font-size: 14px;
    padding: 2px 6px;
}

#accordion {
    margin-bottom: 15px!important;
}

#accordion .card {
    border: 0px solid rgba(0, 0, 0, .125);
}

#accordion .card-body {
    padding: 15px 0px;
}

#accordion .card-header {
    padding: 0px;
    margin-bottom: .7rem;
    background-color: rgb(255 255 255 / 3%);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

#accordion .card-header .btn.btn-link.collapsed .float-right.prd-circle {
    background-color: #d1d1d1;
}

#accordion .card-header .btn.btn-link.collapsed .float-right.prd-circle .colps1 {
    display: block;
}

#accordion .card-header .btn.btn-link.collapsed .float-right.prd-circle .colps2 {
    display: none;
}

.btn-link:hover {
    color: #ff6700;
}

#accordion .btn {
    width: 100%;
    text-align: left;
    padding: 0px;
    text-decoration: none;
    margin-bottom: 0.7rem;
}

.prd-circle i {
    width: 10px;
    height: 10px;
}

.prd-circle .colps2 {
    float: inherit;
}

.prd-circle {
    background: #FF6700;
    font-size: 10px;
    border-radius: 50%!important;
    text-align: center;
    color: white;
    padding: 6px 6px;
    height: 21px;
}

.colps1 {
    display: none;
}