/*****************************
* Base - Default
*****************************/

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

/*-- Google Font --*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-- Common Style --*/
*,
*::after,
*::before {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
    position: relative;
    visibility: visible;
    color: $body-color;
    &[dir="rtl"] {
        text-align: right;
    }
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $heading-font;
}


ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    color: $body-color;
    text-decoration: none;
    transition: $transition-base;
    outline: none;

    &:hover{color: $color-golden;}
}

input, button, a{
    border: none ;
    outline: none !important;
    background: none;
    box-shadow: none;
}

input{width: 100%;}

.icon-text-left{
    i{padding-left: 7px;}
}
.icon-text-right{
    i{padding-right: 7px;}
}

/* Section CSS*/
.section-fluid{
    padding-left: 0px;
    padding-right: 0px;

    @include breakpoint(medium){
        padding-left: 15px;
        padding-right: 15px;
    }
    @include breakpoint(large){
        padding-left: 20px;
        padding-right: 20px;
    }
    @include breakpoint(xlarge){
        padding-left: 40px;
        padding-right: 40px;
    }
    @include breakpoint(xxlarge){
        padding-left: 90px;
        padding-right: 90px;
    }
}
.section-top-gap-100{
    margin-top: 60px;
    @include breakpoint(medium){
        margin-top: 80px;
    }
    @include breakpoint(large){
        margin-top: 100px;
    }
}

.section-inner-bg{
    background: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
    @include breakpoint(medium){
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include breakpoint(large){
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.section-content-gap{
    margin-bottom: 30px;

    @include breakpoint(large){
        margin-bottom: 40px;
    }
}

.secton-content{
    margin-top: -6px;
    .section-title{
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 7px;
    }

}

.icon-space-left{
    i{padding-left: 10px;}
}
.icon-space-right{
    i{padding-right: 10px;}
}

.review-star{
    li{
        display: inline-block;
        font-size: 15px;
        letter-spacing: 0.15em;
        &.empty{color: #e1e1e1}
    }
}

.img-responsive{
    img{width: 100%;}
}

.pos-relitive{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.img-hover-zoom{
    overflow: hidden;
    img{
        transform: scale(1);
        transition: $transition-base;
        &:hover{
            transform: scale(1.03);
        }
    }
}

.facebook:hover{
    background: $facebook;
    color: $white;
}
.twitter:hover{
    background: $twitter;
    color: $white;
}
.pinterest:hover{
    background: $pinterest;
    color: $white;
}
.google-plus:hover{
    background: $googlePlus;
    color: $white;
}
.linkedin:hover{
    background: $linkedin;
    color: $white;
}

.nice-select .list{
    left: auto;
    right: 0;
}