.product-list-single {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include breakpoint(medium){
        flex-direction: row;
    }

    &:hover > .product-list-img-link > img:nth-child(2){
        opacity: 1;
    }
}

.product-list-img-link{
    position: relative;
    width: 100%;
    @include breakpoint(medium){
        width: auto;
    }

    & img{

        transition: $transition-base;
        &:nth-child(2){
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
}

.product-list-content {
    margin-left: 0px;
    margin-top: 30px;
    width: 100%;
    @include breakpoint(medium){
        margin-top: 0;
        margin-left: 30px;
        width: auto;
    }
}

.product-list-link a {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: black;
}

.product-list-price {
    display: block;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 13px;
    color: black;
    del{
        padding-right: 10px;
        color: $body-color;
    }
}

.product-action-icon-link-list {

    .btn{
        margin-right: 3px;
        margin-top: 5px;
        &:last-child{margin-right: 0;}
    }
}

